body {   
    flex-direction: column;
    align-items: space-between;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #590059;
    color: beige;
}

.header div {
    display: flex;
    justify-content: space-evenly;
    gap: 20px
}

.main-body {
    flex: 1;
}

.introduction {
    display: flex;
    flex: 1;
    background-color: #590059;
    color: beige;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
    flex-direction: row;
}

.introduction div {
    width: 300px;
}

button {
    background-color: cornflowerblue;
    border: 0px;
    padding: 10px 20px;
    border-radius: 10%;
    color: beige;
}

.main-content {
    display: flex;
    flex-direction: column;
    background-color: azure;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main-content div {
    display: flex;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    align-items: center;
}

.cards img {
    width: 100px;
    height: 150px;
    border-color: blue;
    border-width: 5px;
    border-radius: 15px;
    border-style: groove;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7fffd4;
    flex-direction: column;
    padding: 50px 0px;
}

.quote h4 {
    width: 400px;
    font-size: larger;
    font-style: italic;
    color: #005f00;
}

.quote p {
    display: flex;
    justify-content: end;
    font-weight: bolder;
    color: #30af30;;
}
